</br>
</br>
</br>
<div class="container">
    <div class="py-5 text-center">
        <h2>{{ head }}</h2>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="title">Název</label>
                <input type="text" class="form-control" id="title" value="{{ title }}" name="title" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="file">PDF Soubor</label>

                <input type="file" name="file" class="form-control-file" id="file"
                       aria-describedby="inputGroupFileAddon01">

            </div>
        </div>

        <div class="mb-3">
            <label for="abstract">Abstract</label>
            <textarea id="abstract" name="abstract" class="form-control" rows="10" required>{{ abstract }}</textarea>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="modal" data-target="#modalConfirm">Potvrdit</button>

        <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Potvrzení</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Opravdu si přejete vytvořit/editovat nový příspěvek?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                        <button type="submit" class="btn btn-primary">Ano</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

