
<form action="{{ login_handler }}" method="POST" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Přihlašování</h1>

    <div class="form-label-group">
        <input type="text" id="inputLogin" class="form-control" placeholder="Uživatelské jméno" name="{{ login_name }}" required autofocus>
        <label for="inputLogin">Uživatelské jméno</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="{{ password_name }}"required>
        <label for="inputPassword">Heslo</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit se</button>
</form>

