
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            {% for item in menu_items_left %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand" href="index.php">{{ log_text }}</a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 order-md-0 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            {% for item in menu_items_right %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>