
</br>
</br>
</br>
<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Název práce</th>
            <th scope="col">Stav</th>
            <th scope="col">Otevřít</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">{{ post.i }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.state }}</td>
                <td>
                    <button type="button" onclick="location.href = 'edit_post.php?id={{ post.id }}'"
                            class="btn btn-primary">Otevřít
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

