
<div class="container">
    <h3>{{ head }}</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Název práce</th>
            <th scope="col">Autor</th>
            <th scope="col">Stav</th>
            <th scope="col">Hodnocení</th>
            <th scope="col">Otevřít</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">{{ post.i }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.state }}</td>
                <td>{{ post.avg }}</td>
                <td>
                    <button type="button" onclick="location.href = 'view_post.php?id={{ post.id }}'" class="btn btn-primary">Otevřít</button>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">V tabulce nejsou žádné příspěvky</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
