
<div class="container">
    <form method="post" action="add_ratings.php?id={{ postID }}">
        <table class="table table-striped">
            <thead class="thead-dark">
                <th scope="col">Název</th>
                <th scope="col">Bodové ohodnocení (10 = nejlepší)</th>
            </thead>
            <tbody>
                {% for rating in ratings %}
                    <tr>
                        <td>{{ rating.Title }}</td>
                        <td>
                            <select class="custom-select" name="r{{ rating.ID }}">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <button type="button"  class="btn btn-success" data-toggle="modal" data-target="#modalSend">Odeslat hodnocení</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="modalSend" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Potvrzení</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Opravdu si přejete odeslat hodnocení?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                        <button type="submit" class="btn btn-primary">Ano</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
