<div class="container">
    <form method="post" action="">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Recenzent</th>
                {% for rating in ratings %}
                    <th scope="col">{{ rating }}</th>
                {% endfor %}
                <th scope="col">Průměr</th>
                {% if admin_row == 1 %}
                    <th scope="col">Akce</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for assignment in assignments %}
                <tr>
                    <th scope="row">{{ assignment.i }}</th>
                    <td>{{ assignment.reviewer }}</td>
                    {% if assignment.ratings == -1 %}
                        {% for rating_title in ratings %}
                            <td>N/A</td>
                        {% endfor %}
                        <td>N/A</td>
                    {% else %}
                        {% for rating in assignment.ratings %}
                            <td>{{ rating }}</td>
                        {% endfor %}
                    {% endif %}
                    {% if admin_row == 1 %}
                        <td>
                            <button type="button"
                                    data-toggle="modal" data-target="#modalRem{{ assignment.id }}"
                                    class="btn btn-danger">Smazat
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ width }}">Dosud nebyli přiděleni recenzenti</td>
                </tr>
            {% endfor %}

            {% if assignments %}
                <tr>
                    <th scope="row">#</th>
                    <td>Prumer</td>
                    {% for avg in avgs %}
                        <td>{{ avg }}</td>
                    {% endfor %}
                    {% if admin_row == 1 %}
                    <td></td>
                    {% endif %}
                </tr>
            {% endif %}


            {% if admin_row == 1 %}


                <tr>
                    <th scope="row">#</th>
                    <td colspan="{{ width - 4 }}">
                        <select class="custom-select" name="reviewer_login">
                            {% for reviewer in available_reviewers %}
                                <option>{{ reviewer.Login }}</option>
                            {% endfor %}
                        </select>
                    </td>

                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAdd">Přidat recenzenta</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" {% if disabled1 == 1 %}disabled{% endif %}
                                data-toggle="modal" data-target="#modalAccept">Přijmout
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" {% if disabled1 == 1 %}disabled{% endif %}
                                data-toggle="modal" data-target="#modalRefuse">Odmítnout
                        </button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-primary" {% if disabled2 == 1 %}disabled{% endif %}
                                data-toggle="modal" data-target="#modalPromote">Umožnit hodnocení
                        </button>
                    </td>
                </tr>


            {% endif %}
            </tbody>
        </table>

        {% if admin_row == 1 %}
        <div class="modal fade" id="modalAccept" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Potvrzení</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Přejete si opravdu příjmout tento příspěvek?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                        <button type="button" class="btn btn-primary"
                                onclick="location.href = 'view_post.php?e=ap&id={{ postID }}'">Ano
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalRefuse" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Potvrzení</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Přejete si opravdu odmítnout tento příspěvek?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                        <button type="button" class="btn btn-primary"
                                onclick="location.href = 'view_post.php?e=rp&id={{ postID }}'">Ano
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPromote" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Potvrzení</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Opravdu si přejete u tohoto příspěvku umožnit hlasování?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                        <button type="button" class="btn btn-primary"
                                onclick="location.href = 'view_post.php?e=pp&id={{ postID }}'">Ano
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Potvrzení</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Opravdu si přejete přidat nového recenzenta?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                        <button type="submit" class="btn btn-primary">Ano</button>
                    </div>
                </div>
            </div>
        </div>


        {% for assignment in assignments %}
            <div class="modal fade" id="modalRem{{ assignment.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Potvrzení</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Opravdu si přejete odebrat recenzenta?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                            <button type="button" class="btn btn-primary" onclick="location.href = 'view_post.php?e=ra&id={{ postID }}&as={{ assignment.id }}'">Ano</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% endif %}
    </form>

</div>
