<form method="POST" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Registrace</h1>

    <div class="form-label-group">
        <input type="text" id="inputLogin" class="form-control" placeholder="Uživatelské jméno" name="{{ login_name }}"
               required autofocus>
        <label for="inputLogin">Uživatelské jméno</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Heslo" name="{{ password_name }}"
               required>
        <label for="inputPassword">Heslo</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Potvrdit heslo"
               name="{{ password_confirm_name }}" required>
        <label for="inputConfirmPassword">Potvrdit heslo</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrovat se</button>
</form>

<script src="js/password_confirmation.js"></script>
