</br>
</br>
</br>

<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Už. jméno</th>
            <th scope="col">Role</th>
            <th scope="col">Blokace</th>
            <th scope="col">Smazání</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.i }}</th>
                <td>{{ user.login }}</td>
                <td>
                    <select class="custom-select"
                            onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        <option value="user_administration.php?e=role&v=1&u={{ user.login }}" {% if user.role == "Autor" %} selected {% endif %}>
                            Autor
                        </option>
                        <option value="user_administration.php?e=role&v=2&u={{ user.login }}" {% if user.role == "Recenzent" %} selected {% endif %}>
                            Recenzent
                        </option>
                        <option value="user_administration.php?e=role&v=3&u={{ user.login }}" {% if user.role == "Admin" %} selected {% endif %}>
                            Admin
                        </option>
                    </select>

                </td>
                <td>
                    <button data-toggle="modal" data-target="#modalBlock{{ user.login }}"
                            class=
                            {% if user.blocked == 1 %}"btn btn-success"> Odblokovat
                        {% else %}"btn btn-warning"> Zablokovat
                        {% endif %}
                    </button>
                </td>
                <td>
                    <button data-toggle="modal" data-target="#modalDelete{{ user.login }}" type="button" class="btn btn-danger">Smazat</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for user in users %}
        <div class="modal fade" id="modalBlock{{ user.login }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Potvrzení</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Opravdu si přejete zablokovat / odblokovat uživatele {{ user.login }}?
                    Tato akce může způsobit škody v hodnocení příspěvků.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                    <button type="button" onclick="location.href = 'user_administration.php?e=block&u={{ user.login }}'" class="btn btn-primary">Ano</button>
                </div>
            </div>
        </div>
    </div>

        <div class="modal fade" id="modalDelete{{ user.login }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Potvrzení</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Opravdu si přejete smazat uživatele {{ user.login }}?
                        Tato akce může způsobit nevratné škody v hodnocení příspěvků.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
                        <button type="button" onclick="location.href = 'user_administration.php?e=delete&u={{ user.login }}'" class="btn btn-primary">Ano</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


</div>




